.utilities{
	.font-preview{
		height: 70px;
		padding: 0 15px;
		border-bottom: solid 1px #DEDEDE;
		.font-select{
			display: block;
			position: relative;
			color:#333;
			.text-style{
				line-height: 70px;
			}
			.caret{
				position: absolute;
				top: 50%;
				right: 10px;
				transform: traslate(-50%);
				-webkit-transform: traslate(-50%);
			}
		}
	}
	
	.style-layout-tab{
		text-align: center;
		.btn-group{
			width: 80%;
			.btn{
				width: 50%;
			}
		}
	}
	.font-set{
		.panel-body{
			text-align: center;
		}
		.font-family-set{
			margin-bottom: 10px;
		}
		.font-size-set{
		}
		.font-style-set{
			width: 88px;
			a{
				width: 25%;
			}
		}
	}
	.alignment-set{
		.btn-group{
			margin-bottom: 10px;
		}
		.align-set{
			width: 100%;
			a{
				width: 25%;
			}
		}
		.indent-set{
			width: 100%;
			a{
				width: 50%;
			}
		}
		.vertical-align-set{
			width: 100%;
			a{
				width: 33.3%;
			}
		}
	}
	.vertical-spacing-set{
		.item{
			margin-bottom: 10px;
			.input-with-unit{
				float: right;
			}
		}
	}
	.list-style-set{
		.list-style-select{
			margin-bottom: 10px;
		}
		.list-set-detail{
			text-align: right;
			.indentation-setting{
				margin-bottom: 10px;
				label{
					vertical-align: top;
					margin-top: 6px;
				}
			}
			.bullets-setting{
				.bullets-select{
					width: 80px;
					margin-right: 12px;
				}
				&.image{
					label{
						vertical-align: top;
						margin-top: 8px;
					}
				}
				.bullets-image-select{
					height: 28px;
					width: 65px;
					border: solid 1px #C5C5C5;
					background-color: #E0E0E0;
					display: inline-block;
					border-radius: 3px;
				}
			}
			.bullets-size-setting{
				margin-top: 10px;
			}
		}
			
	}
}